In [2]:
!pip install prettytable

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: prettytable in c:\users\91739\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.16.0)
Requirement already satisfied: wcwidth in c:\users\91739\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from prettytable) (0.2.13)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\91739\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from prettytable import PrettyTable

# Load dataset (assuming it's already loaded as 'df')
df = pd.read_csv(r"restaurant_data.csv")

# Select features for clustering
features = ['Rating', 'Average Cost for Two (INR)', 'Total Reviews']
scaler = StandardScaler()

# Standardize the features
scaled_features = scaler.fit_transform(df[features])

# Apply K-Means clustering to the scaled features
kmeans = KMeans(n_clusters=3, random_state=42)  # You can adjust n_clusters
df['Cluster'] = kmeans.fit_predict(scaled_features)

# Function to recommend restaurants based on city, rating, price constraints, and optional cluster
def recommend_restaurants_by_city_and_constraints(user_city, min_rating, max_price, user_cluster=None):
    user_city = user_city.lower()

    # Check available cities in the dataset
    available_cities = df['City'].str.lower().unique()
    print(f"Available cities: {', '.join(available_cities)}")

    # Check if the entered city exists in the dataset
    if user_city not in available_cities:
        print(f"Sorry, we couldn't find any restaurants in the city '{user_city.capitalize()}'.")
        return pd.DataFrame()

    # Filter restaurants in the specified city
    city_restaurants = df[df['City'].str.lower() == user_city]
    print(f"Restaurants in {user_city.capitalize()}:")
    print(city_restaurants.head())

    # Apply cluster filtering if user_cluster is specified
    if user_cluster is not None:
        # Check if the cluster number exists in the dataset
        available_clusters = df['Cluster'].unique()
        print(f"Available clusters: {available_clusters}")
        
        if user_cluster not in available_clusters:
            print(f"Cluster {user_cluster} not found.")
            return pd.DataFrame()

        city_restaurants = city_restaurants[city_restaurants['Cluster'] == user_cluster]
    
    # Apply rating and price constraints
    filtered_restaurants = city_restaurants[
        (city_restaurants['Rating'] >= min_rating) &
        (city_restaurants['Average Cost for Two (INR)'] <= max_price)
    ]
    print(f"Filtered restaurants by rating >= {min_rating} and price <= {max_price}:")
    print(filtered_restaurants.head())

    return filtered_restaurants

# Get user input for city, rating, price, and optionally cluster
available_cities = df['City'].unique()
print(f"Available cities: {', '.join(available_cities)}")

user_city = input("Enter the city: ").strip().lower()
min_rating = float(input("Enter minimum rating (e.g., 4.0): "))
max_price = float(input("Enter maximum price for two (e.g., 1000): "))

# Optionally get user input for a specific cluster (if they want to filter by cluster)
user_cluster = input("Enter cluster number (optional, press Enter to skip): ").strip()
user_cluster = int(user_cluster) if user_cluster else None

# Recommend restaurants based on city, rating, price, and optional cluster constraints
recommended_restaurants = recommend_restaurants_by_city_and_constraints(user_city, min_rating, max_price, user_cluster)

# Display the recommended restaurants using PrettyTable if there are results
if recommended_restaurants.empty:
    print("No Restaurants found with the specified criteria.")
else:
    # Create a PrettyTable object to display the output in a tabular format
    table = PrettyTable()
    table.field_names = ["RestaurantID", "Name", "Location", "City", "Cuisine", "Rating", "Total Reviews", "Average Cost for Two (INR)", "Cluster"]

    # Add rows to the table
    for _, row in recommended_restaurants.iterrows():
        table.add_row([row['RestaurantID'], row['Name'], row['Location'], row['City'], row['Cuisine'], row['Rating'], row['Total Reviews'], row['Average Cost for Two (INR)'], row['Cluster']])

    # Print the table
    print(f"\nRecommended Restaurants in {user_city.capitalize()} with rating >= {min_rating} and price <= {max_price}:")
    print(table)

Available cities: Bangalore, Lucknow, Hyderabad, Jaipur, Pune, Kolkata, Chennai, Ahmedabad, Delhi, Mumbai
Available cities: bangalore, lucknow, hyderabad, jaipur, pune, kolkata, chennai, ahmedabad, delhi, mumbai
Restaurants in Delhi:
   RestaurantID              Name       Location   City   Cuisine  Rating  \
12      RID0013  Flavors of India      Salt Lake  Delhi  American     1.2
48      RID0049       Noodle Nook        MG Road  Delhi   Chinese     1.9
50      RID0051        Taco Tower     SG Highway  Delhi  Japanese     1.7
60      RID0061        Thai Treat     Hazratganj  Delhi   Chinese     2.3
86      RID0087    Spice Symphony  Banjara Hills  Delhi      Thai     3.2

   Price Range  Total Reviews  Average Cost for Two (INR)  Cluster
12         Low           2264                        1447        0
48      Medium           3453                        3480        0
50         Low           2924                        4598        0
60         Low            588                        3916        2
86        High           2391                        1160        1
Filtered restaurants by rating >= 4.2 and price <= 5000.0:
    RestaurantID             Name         Location   City   Cuisine  Rating  \
227      RID0228        Chaat Hub       Hazratganj  Delhi   Italian     4.2
257      RID0258  Sushi Sensation       Hazratganj  Delhi   Chinese     4.8
305      RID0306      Urban Tadka       SG Highway  Delhi  Lebanese     4.7
386      RID0387  Lebanese Lounge       SG Highway  Delhi   Chinese     4.6
414      RID0415   Royal Delights  Connaught Place  Delhi      Thai     4.3

    Price Range  Total Reviews  Average Cost for Two (INR)  Cluster
227        High           1157                        1586        2
257      Medium           1876                        1247        1
305      Medium           4167                        1286        1
386      Medium           1560                        3155        2
414        High           4432                        2534        1

Recommended Restaurants in Delhi with rating >= 4.2 and price <= 5000.0:
+--------------+-----------------+-----------------+-------+---------------+--------+---------------+----------------------------+---------+
| RestaurantID |       Name      |     Location    |  City |    Cuisine    | Rating | Total Reviews | Average Cost for Two (INR) | Cluster |
+--------------+-----------------+-----------------+-------+---------------+--------+---------------+----------------------------+---------+
|   RID0228    |    Chaat Hub    |    Hazratganj   | Delhi |    Italian    |  4.2   |      1157     |            1586            |    2    |
|   RID0258    | Sushi Sensation |    Hazratganj   | Delhi |    Chinese    |  4.8   |      1876     |            1247            |    1    |
|   RID0306    |   Urban Tadka   |    SG Highway   | Delhi |    Lebanese   |  4.7   |      4167     |            1286            |    1    |
|   RID0387    | Lebanese Lounge |    SG Highway   | Delhi |    Chinese    |  4.6   |      1560     |            3155            |    2    |
|   RID0415    |  Royal Delights | Connaught Place | Delhi |      Thai     |  4.3   |      4432     |            2534            |    1    |
|   RID0434    |    Chaat Hub    |     MG Road     | Delhi |    Lebanese   |  4.6   |      3041     |            759             |    1    |
|   RID0452    |  Royal Delights | Connaught Place | Delhi |    Chinese    |  5.0   |      681      |            4061            |    2    |
|   RID0496    | Grill and Chill |  Banjara Hills  | Delhi |    Lebanese   |  4.7   |      1887     |            934             |    1    |
|   RID0640    |   Pizza Palace  |     MG Road     | Delhi |      Thai     |  4.8   |      2586     |            343             |    1    |
|   RID0714    |  Haveli Heights |  Koregaon Park  | Delhi |  Continental  |  4.5   |      348      |            4330            |    2    |
|   RID0743    | The Burger Barn |    Salt Lake    | Delhi | Mediterranean |  4.7   |      609      |            4908            |    2    |
|   RID0761    |  Biryani Bliss  |   Indiranagar   | Delhi |     Indian    |  4.2   |      1303     |            3170            |    2    |
|   RID0765    |  Haveli Heights |  Banjara Hills  | Delhi |    American   |  4.9   |      2822     |            871             |    1    |
|   RID0917    |  Haveli Heights |    SG Highway   | Delhi |    Lebanese   |  4.4   |      3142     |            2994            |    1    |
+--------------+-----------------+-----------------+-------+---------------+--------+---------------+----------------------------+---------+